/Lab1/app/src/main/res/xml/backup_rules.xml
/Lab1/app/build.gradle.kts
/Lab1/build.gradle.kts
/Lab1/app/src/main/res/values/colors.xml
/Lab1/.idea/compiler.xml
/Lab1/app/src/main/res/xml/data_extraction_rules.xml
/Lab1/.idea/deploymentTargetDropDown.xml
/Lab1/app/src/androidTest/java/com/example/lab1/ExampleInstrumentedTest.kt
/Lab1/app/src/test/java/com/example/lab1/ExampleUnitTest.kt
/Lab1/gradle.properties
/Lab1/.idea/gradle.xml
/Lab1/gradle/wrapper/gradle-wrapper.jar
/Lab1/gradle/wrapper/gradle-wrapper.properties
/Lab1/gradlew
/Lab1/gradlew.bat
/Lab1/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/Lab1/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/Lab1/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/Lab1/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/Lab1/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/Lab1/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/Lab1/app/src/main/res/drawable/ic_launcher_background.xml
/Lab1/app/src/main/res/drawable/ic_launcher_foreground.xml
/Lab1/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/Lab1/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/Lab1/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/Lab1/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/Lab1/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/Lab1/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/Lab1/.idea/kotlinc.xml
/Lab1/.idea/misc.xml
/Lab1/app/proguard-rules.pro
/Lab1/settings.gradle.kts
/Lab1/app/src/main/res/values/strings.xml
/Lab1/app/src/main/res/values/themes.xml
/Lab1/app/src/main/res/values-night/themes.xml
/Lab1/.idea/vcs.xml
